*{
  margin: 0;
}

.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a{
  color: white;
  text-decoration: none;
  padding: 5px  ;
}


.nav-ul{
  padding: 5px;
  margin: 0px;
  background-color: rgb(153, 135, 235);

}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 4%;
  background-color: rgb(153, 135, 235);
;
}
.inputBox{
  margin-left: 30px;
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid rgb(153, 135, 235);
;


}
.register,.product{
  margin-left: 30%;
  margin-top: 5%;
}

.appbutton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: rgb(153, 135, 235);
;
  border: 1px solid;
  cursor: pointer;

}

.login{
  margin-left: 30%;
  margin-top: 100px;
  
}
.nav-right{
  text-align: right;
}

.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 25px;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list li{
  display: inline-block;
  padding: 5px;
  width: 150px;
  border: 1px solid skyblue;
}

.product-list ul{
 margin: 0;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}